* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*
  margem: 0;
   enchimento: 0;
   dimensionamento da caixa: caixa de borda;
  
  */
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;

  /*
   família de fontes: "Poppins", sans-serif;
   altura mínima: 100vh;
   display: flex;
   alinhar-itens: centro;
   justificar o conteúdo: centro;
   perspectiva
  */
}

.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*
  .container {
  largura: 50%;
  display: flex;
  justificar o conteúdo: centro;
  alinhar-itens: centro;
  */
}


.card {
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 35rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  /*
  .card {
   estilo de transformação: preserve-3d;
   altura mínima: 80vh;
   largura: 35rem;
   raio da borda: 30px;
   preenchimento: 0rem 5rem;
   Sombra da caixa: 0 20px 20px rgba (0, 0, 0, 0,2), 0px 0px 50px rgba (0, 0, 0, 0,2);
  
  */
}

.sneaker {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /*
  .tênis {
   altura mínima: 35vh;
   display: flex;
   alinhar-itens: centro;
   justificar o conteúdo: centro;
  */
}

.sneaker img {
  width: 20rem;
  z-index: 2;
  transition: all 0.75s ease-out;
  /*
.tênis img {
   largura: 20rem;
   índice z: 2;
   transição: todos os 0,75s atenuados;
*/
}

.circle {
  width: 15rem;
  height: 15rem;
  background: linear-gradient(to right,
      rgba(75, 245, 66, 0.75),
      rgba(8, 83, 156, 0.75));
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  /*
  .círculo {
  largura: 15rem;
  altura: 15rem;
  fundo: gradiente linear (para a direita,
      rgba (75, 245, 66, 0,75),
      rgba (8, 83, 156, 0,75));
  posição: absoluta;
  raio da borda: 50%;
  índice z: 1;
  */
}

.info h1 {
  font-size: 3rem;
  transition: all 0.75s ease-out;
  /*
  .info h1 {
  tamanho da fonte: 3rem;
  transição: todos os 0,75s atenuados;
  */
}

.info h3 {
  font-size: 1.3rem;
  padding: 2rem 0rem;
  color: #585858;
  font-weight: lighter;
  transition: all 0.75s ease-out;
  /*
  .info h3 {
  tamanho da fonte: 1.3rem;
  preenchimento: 2rem 0rem;
  cor: # 585858;
  peso da fonte: mais leve;
  transição: todos os 0,75s atenuados;
  */
}

.sizes {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
  /*
  .sizes {
  display: flex;
  justify-content: espaço entre;
  transição: todos os 0,75s atenuados;
  */
}

.sizes button {
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #585858;

  /*
  .sizes button {
  preenchimento: 0.5rem 2rem;
  fundo: nenhum;
  fronteira: nenhum;
  sombra da caixa: 0px 5px 10px rgba (0, 0, 0, 0,2);
  raio da borda: 30px;
  cursor: ponteiro;
  intensidade da fonte: Negrito;
  cor: # 585858;
  */
}

button.active {
  background: #585858;
  color: white;
  /*
  button.active {
  fundo: # 585858;
  cor branca;
  */
}

.compra {
  margin-top: 5rem;
  transition: all 0.75s ease-out;
  /*
  compra {
  margem superior: 5 rem;
  transição: todos os 0,75s atenuados;
  
  */
}

.compra button {
  width: 100%;
  padding: 1rem 0rem;
  background: rgb(83, 226, 43);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;

  /*
  .compra button {
  largura: 100%;
  preenchimento: 1rem 0rem;
  fundo: rgb (83, 226, 43);
  fronteira: nenhum;
  cor branca;
  cursor: ponteiro;
  raio da borda: 30px;
  peso da fonte: mais negrito;
  
  */
}